<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Juego Memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4706677D1D1BF38300DB4724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>470667911D1BF38300DB4724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4706679C1D1BF38300DB4724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
